body {
    background-color: #000000;
    background-size: cover;
}

.header{
    font-size: 3.5rem;
}

.jumbotron_suffix{
    padding-top: 32px;
    padding-bottom: 16px;
}

.jumbotron_suffix_unified{
    padding-top: 32px;
    padding-bottom: 32px;
}

.jumbotron_suffix_inner{
    padding: 16px;
    padding-bottom: 16px;
}

.form-control:focus {
    background-color: #09181d;
    caret-color: #24eff6;
    color: #24eff6;
    box-shadow: 0 0 5px #24eff6;
}
.form-control:hover {
    background-color: #343a40;
}
.form-control:-webkit-autofill,
.form-control:-webkit-autofill:focus,
.form-control:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 30px #343a40 inset !important;
}

.form-control:-webkit-autofill:hover {
    -webkit-box-shadow: 0 0 0 30px #343a40 inset !important;
}

.form-control:-webkit-autofill {
    -webkit-text-fill-color: #f8f9fa !important;
}
