
body {
    background-color: black;
}

a:hover, a:link, a:active, a:visited {
    text-decoration: none;
    color: #22bac1;
}

a.my_btn:link,
a.my_btn:active,
a.my_btn:visited {
    color: #39ff68;
}

a.my_btn:hover {
    color: black;
}

a.nav-link:hover {
    color: #2af8ff;
    text-shadow: 0 0 3px #2af8ff;
}

/*a#logged_in_user_name:hover {*/
/*    color: #2af8ff;*/
/*    text-shadow: 0 0 1px #2af8ff;*/
/*}*/

h1,h2,h3,h4,h5,h6 {
    /*font-size:  3.5rem;*/
    color: #24eff6;
    text-shadow: 0 0 5px #24eff6;
}

.jumbotron {
    background-color: transparent;
    /*backdrop-filter: blur(5px);*/
    border: 3px solid #24eff6;
    padding: 16px;
}

.header_layer_1 {
    border: 0;
    margin: 0;
    padding-left: 15%;
    padding-right: 15%;
}

.header_layer_2 {
    border-left: 0px;
    border-right: 0px;
    border-top: 4px solid #24eff6;
    border-bottom: 4px solid #24eff6;
    border-radius: 0px;
}

.form-group {
    margin: 0px;
}

.form-control {
    border: 2px solid #21bdc4;
    background-color: black;
    /*background-color: transparent;*/
    backdrop-filter: blur(30px);
    color: #24eff6;
}

.form-control:focus {
    background-color: #09181d;
    caret-color: #24eff6;
    color: #24eff6;
    box-shadow: 0 0 5px #24eff6;
}
.form-control:hover {
    background-color: #09181d;
}
.form-control:-webkit-autofill,
.form-control:-webkit-autofill:focus,
.form-control:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 30px black inset !important;
}

.form-control:-webkit-autofill:hover {
    -webkit-box-shadow: 0 0 0 30px #09181d inset !important;
}

.form-control:-webkit-autofill {
    -webkit-text-fill-color: #24eff6 !important;
}

.my_btn {
    border: 2px solid #39ff68;
    border-radius: 10px;
    font-weight: bold;
    color: #39ff68;
    /*color: #39ff68;*/
}

.my_btn:hover {
    border: 2px solid #39ff68;
    background-color: #39ff68;
    color: black;
}

/*.attach-text {*/
/*    border: 1px solid #21bdc4;*/
/*    background-color: #09181d;*/
/*    color: #24eff6;*/
/*}*/

.form-control.view-field:read-only {
    border: 2px solid #28f8ff;
    /*background-color: black;*/
    background-color: transparent;
    backdrop-filter: blur(30px);
    color: #24f8ff;
    text-align: right;
}

.navbar {
    /*background-color: #090f18;*/
    background-color: transparent;
    backdrop-filter: blur(30px);
    color: #24eff6;
}

.navbar-brand {
    color: #24eff6;
}

.navbar-brand:hover {
    color: #24eff6;
    text-shadow: 0 0 2px lime;
}

/*.alert-error {*/
/*    border: 2px solid red;*/
/*    border-radius: 5px;*/
/*    background-color: #1f0000;*/
/*    color: red;*/
/*    padding: 8px;*/
/*    margin-bottom: 8px;*/
/*}*/

/*.alert-success {*/
/*    border: 2px solid lime;*/
/*    border-radius: 5px;*/
/*    background-color: #001f00;*/
/*    padding: 8px;*/
/*    margin-bottom: 8px;*/
/*    color: lime;*/
/*}*/

/*.alert-success-dissmiss-button {*/
/*    float: right;*/
/*    font-size: 1rem;*/
/*    text-shadow: none;*/
/*    height: 40px;*/
/*}*/

/*.alert-error-dissmiss-button {*/
/*    float: right;*/
/*    font-size: 1rem;*/
/*    text-shadow: none;*/
/*    height: 40px;*/
/*}*/

/*.alert-success-dissmiss-button:hover {*/
/*    color: lime;*/
/*}*/

/*.alert-error-dissmiss-button:hover {*/
/*    color: red;*/
/*}*/

/*#logged_in_user_options {*/
/*    border-top-left-radius: 0px;*/
/*    border-bottom-left-radius: 0px;*/
/*}*/

.dropdown-menu {
    background-color: transparent;
    backdrop-filter: blur(5px);
    border: 2px solid #21bdc4;
}

.dropdown-divider {
    border-color: #21bdc4;
}

.dropdown-item:hover {
    background-color: transparent;
    backdrop-filter: blur(5px);
    color: #2af8ff;
    text-shadow: 0 0 3px #2af8ff;
}

/*.view-card {*/
/*    padding: 0 15% 0 15%;*/
/*    border: 0;*/
/*}*/

/*.text-dangerous {*/
/*    color: red;*/
/*}*/

.text-basic {
    color: #2af8ff;
}

.card{
    background-color: #000b17;
    border: 3px solid #24eff6;
}

.card-text{
    color: white;
}

.list-group-item{
    background-color: #4dbeca;
    border: 1px solid #24eff6;
    color: #0b2e13;
    font-weight: bold;
}

/*.card-text{*/
/*    color: #24eff6;*/
/*}*/
