<!DOCTYPE html>
{% extends "main_app/page_template.html" %}

    {% load static %}

    {% block title %}
        Hostel Chai
    {% endblock %}

    {% block my_stylesheet %}
        <link rel="stylesheet" href="{% static "main_app/stylesheets/hostel_owner_home_page.css" %}">
    {% endblock %}

    {% block my_js %}
        <script src="{% static "main_app/js/hostel_owner_home_page.js" %}"></script>
    {% endblock %}

    {% block main_block %}
        <div class="jumbotron bg-secondary">
            <h1 class="text-center text-dark header">Welcome {{ name }}</h1>
        </div>
    {% endblock %}