<!DOCTYPE html>
{% extends "main_app/page_template.html" %}

    {% load static %}

    {% block title %}
        Hostel Chai ?
    {% endblock %}

    {% block my_stylesheet %}
        <link rel="stylesheet" href="{% static "main_app/stylesheets/landing_page.css" %}">
    {% endblock %}

    {% block my_js %}
        <script src="{% static "main_app/js/landing_page.js" %}"></script>
    {% endblock %}

    {% block main_block %}

        <div class="jumbotron jumbotron_suffix_unified bg-secondary">
            <h1 class="text text-center text-dark header">Welcome to <span id="brand">HOSTEL CHAI ?</span></h1>
        </div>

        <div class="row">
            <div class="col">
                <div class="jumbotron jumbotron_suffix text-info bg-dark">
                    <h2 class="text-center">Need a Hostel ?</h2>
                    <br>
                    <p class="text-center">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. sed do eiusmod tempor incididunt ut labore et dolore magna aliquas.
                    </p>

                    <form class="form-group" action="#" method="post">
                        {% csrf_token %}

                        <br>
                        <div class="input-group">
                            <select class="custom-select bg-transparent border border-info text-info" name="location" id="location">
                                {% for thana in thanas %}
                                    <option value="{{ thana }}">{{ thana }}</option>
                                {% endfor %}
                            </select>
                            <div class="input-group-append">
                                <input class="btn btn-outline-info" type="submit" value="Find">
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col">
                <div class="jumbotron jumbotron_suffix_unified text-info bg-dark">
                    <p class="text-center">
                           Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                           Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                           Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.
                    </p>
                    <br>
                    <a class="btn btn-outline-info btn-block" href="{% url 'main_app:registration_page' %}">Register to Post</a>
                </div>
            </div>
        </div>
        <br>
        <div class="jumbotron bg-dark">
            <h2 class="text-center text-info">New to this website ?</h2>
            <p>
                <div class="row">
                    <div class="col-5"></div>
                    <div class="col-2">
                        <a class="btn btn-outline-info btn-block" href="{% url 'main_app:registration_page' %}">Register</a>
                    </div>
                    <div class="col-5"></div>
                </div>
            </p>
        </div>

    {% endblock %}