<!DOCTYPE html>
{% load static %}

<html>
    <head>
        <title>
            {% block title %}{% endblock %}
        </title>
        <link rel="stylesheet" href="{% static "bootstrap/css/bootstrap.min.css" %}">
        <link rel="stylesheet" href="{% static "main_app/css/page_template.css" %}">
        {% block my_stylesheet %}{% endblock %}
    </head>

    <body>

        <nav class="navbar navbar-expand fixed-top navbar-dark bg-dark">
            <div class="container">
                <a class="navbar-brand" href="{% url 'main_app:landing_page' %}"><b>HOSTEL CHAI ?</b></a>

                <ul class="navbar-nav mr-auto">
                    <li class="nav-item"><a class="nav-link" href="#">Feed</a></li>

                    {% if user_type == 'H' %}
                        <li class="nav-item"><a class="nav-link" href="{% url 'main_app:add_hostel_page' %}">Add Hostel</a></li>
                        <li class="nav-item"><a class="nav-link" href="#">Post ad.</a></li>
                        <li class="nav-item"><a class="nav-link" href="#">Manage ads.</a></li>
                    {% elif user_type == 'S' %}
                        <li class="nav-item"><a class="nav-link" href="#">Find a Hostel</a></li>
                    {% elif user_type == 'A' %}
                        <li class="nav-item"><a class="nav-link" href="{% url 'main_app:requests_loader_page' %}">Approval requests</a></li>
                    {% endif %}

                    <li class="nav-item"><a class="nav-link" href="{% url 'main_app:test_page' %}">Test Page</a></li>
                </ul>

                <ul class="navbar-nav justify-content-end">
                    {% if login_status == "false" %}
                        <li class="nav-item"><a class="nav-link" href="{% url 'main_app:login_page' %}">Login</a></li>
                    {% else %}
                        <li class="nav-item"><a class="nav-link" href="{% url 'main_app:logout' %}">Logout</a></li>
                    {% endif %}

                </ul>
            </div>
        </nav>

        <style>._nav_setup{margin-bottom: 58px}</style>
        <div class="_nav_setup"></div>

        <div class="container">
            <style>
                body {
                    background-image: url("{% static 'main_app/img/background-4.jpg' %}");
                    background-size: cover;
                }
            </style>
            {% block main_block %}{% endblock %}
        </div>

        <script src="{% static "jquery/jquery-3.5.1.min.js" %}"></script>
        <script src="{% static "bootstrap/js/bootstrap.bundle.min.js" %}"></script>
        <script src="{% static 'main_app/js/page_template.js' %}"></script>
        {% block my_js %}{% endblock %}
    </body>
</html>
