<!DOCTYPE html>
{% extends "main_app/page_template.html" %}

    {% load static %}

    {% block title %}
        Testing...
    {% endblock %}

    {% block my_stylesheet %}
        <link rel="stylesheet" href="{% static "main_app/stylesheets/test_page.css" %}">
    {% endblock %}

    {% block my_js %}
        <script src="{% static "main_app/js/test_page.js" %}"></script>
    {% endblock %}

    {% block main_block %}
        <div class="container">
            <div class="card bg-dark text-info" style="width: 18rem;">
              <img class="card-img-top" src="{% static 'main_app/img/demo_hostel.jpg' %}"  alt="Image not found">
              <div class="card-body">
                <h5 class="card-title">Hostel Name</h5>
                <p class="card-text">Rating: 8.7</p>
              </div>
              <ul class="list-group list-group-flush">
                <li class="list-group-item bg-secondary text-light">
                      <div class="row">
                          <div class="col">
                              Location
                          </div>
                          <div class="col">
                              : Mirpur-1
                          </div>
                      </div>
                </li>
                <li class="list-group-item bg-secondary text-light">
                       <div class="row">
                          <div class="col">
                              Institution preference
                          </div>
                          <div class="col">
                              : United International University
                          </div>
                      </div>
                </li>
                <li class="list-group-item bg-secondary text-light">
                       <div class="row">
                          <div class="col">
                              Rent
                          </div>
                          <div class="col">
                              : 4500/=
                          </div>
                      </div>
                </li>
              </ul>
              <div class="card-body">
                <a class="btn btn-outline-secondary btn-block" href="#" class="card-link">View details</a>
              </div>
            </div>
        </div>

        <br>

        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text" id="inputGroupFileAddon01">Upload</span>
            </div>
            <div class="custom-file">
                <input type="file" class="custom-file-input" id="inputGroupFile01" aria-describedby="inputGroupFileAddon01">
                <label class="custom-file-label" for="inputGroupFile01">Choose file</label>
            </div>
        </div>

    {% endblock %}